

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2C3E50;
  color: black;
}

.hero {
  text-align: center;
  background-color: #34495E;
  padding: 30px;
}

.hero-content .profile-pic {
  width: 200px;
  border-radius: 0%;
}

.projects {
  padding: 20px;
  text-align: center;
}

.project-card {
  background: #1ABC9C;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
}

.project-info {
  width: 60%;
  text-align: left;
}

.project-media {
  width: 35%;
  background: #95A5A6;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.btn {
  background: #E67E22;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.skills, .about {
  padding: 20px;
  background: #34495E;
  text-align: left;
  display: flex;
}

.skills .wrap, .about .wrap {
  background: white;
  color: black;
  display: flex;
  /* justify-content: space-between; */
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 90%;
}

.footer {
  text-align: center;
  padding: 10px;
  background: white;
}

.hero-text {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 60%;
}

.hero-image {
  width:25%;
}