
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  /* background-color: #DDDDDD; */
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.2;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2C3E50;
  color: black;
}

.hero {
  text-align: center;
  background-color: #34495E;
  padding: 30px;
}

.hero-content .profile-pic {
  width: 200px;
  border-radius: 0%;
}

.projects {
  padding: 20px;
  text-align: center;
}

.project-card {
  background: #1ABC9C;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
}

.project-info {
  width: 60%;
  text-align: left;
}

.project-media {
  width: 35%;
  background: #95A5A6;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.btn {
  background: #E67E22;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.skills, .about {
  padding: 20px;
  background: #34495E;
  text-align: left;
  display: flex;
}

.skills .wrap, .about .wrap {
  background: white;
  color: black;
  /* justify-content: space-between; */
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 90%;
}

.footer {
  text-align: center;
  padding: 10px;
  background: white;
  text-decoration: none;
}

.hero-text {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 60%;
}

.hero-image {
  width:25%;
}